
.feature-card {
  transition: all 0.3s ease;
  background-color: white;
  color: #000;
}

.feature-card:hover {
  background-color: #f52c40 !important; /* Bootstrap's danger red */
  color: white !important;
}

.logo-1{
  color: rgb(248, 4, 4);

}

.logo-1:hover{
   color: white !important;

}
.opacity-0 {
  opacity: 0;
}